/* animation lors du clique sur les image page d'accueil */
html {
  scroll-behavior: smooth;
}
/* aspect du corps de la page*/
body {
  font-family: cursive;
  padding: 0;
  margin: 0;
}
/* se qui concerne les listes éléments tels que les puces (onglets) */
ul {
  margin: 0;
  padding: 0;
}
/* pas de style des charactère pour les éléments avec balise <li> */
li {
  list-style-type: none;
}
/* Titre principale*/
h2 {
  text-transform: uppercase; /* uppercase = texte majuscule */
  text-align: center;
  padding-top: 30px;
  font-size: 2em; /* taille texte par rapport à l'écran */
}
/* pas de décoration pour les liens */
a {
  text-decoration: none;
  color: black;
}
/* barre de navigation */
nav {
    @media screen and (min-width: 480px) and (max-width: 780px) 
    margin: 1em 2em;
  overflow: hidden; /* pas de débordement du texte */
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
  font-size: 1.2em;
  padding-left : 15px;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
/* logo maison */
#logo {
  font-family:cursive; /* police d'écriture */
  font-weight: bold;
  float: left;
}
/* **************** IMAGE PRINCIPALE ************* */

#imagePrincipale {
    @media screen and (min-width: 480px) and (max-width: 780px) 
    margin: 1em 2em;
  padding-top: 60px;
  background: url(media/image-principale.jpg) no-repeat fixed 50% 50%; 
  background-size: cover;
  height: 799px;
}
/* barre de navigation */
h3 {
  text-align: center;
  color: white;
  font-size: 3em;
  padding-top: 500px
}
/* *************** PRESENTATION ********************** */

#texteIntro {
  padding: 0px 20%;
}
/* présentation image espace entre eux*/
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;  
}
/* Titre au dessus des images*/
.imagesPrestations h4 {
  font-family: cursive;
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}
/* personnalisation des images */
.imagesPrestations img {
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 15px 4px rgba(0,0,0,0.99); 
  box-shadow: 5px 9px 15px 4px rgba(0,0,0,0.99);
  height: 300px;
}
/* effet de transition images */
.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
}
/* Titre principale */
h4{
  text-align:center;
  font-family: cursive;
}

/* personnalisation onglets*/
#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}
#onglets li
{
    float : right;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: green;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 100px 2px 0 2px;  /* Pour IE  */
    border : 1px solid white;
    text-align: right;
}
#onglets li.active
{
    border-bottom: 10px solid #fff;
    background-color: #fff;
}
#onglets a
{
    display : block;
    color : black;
    text-decoration : none;
    padding : 4px;

}
#onglets a:hover
{
    background : #fff;
}
#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 30px;
        
}
#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font-family: 'cursive';
        list-style-type : none;
        left : 75%;
        margin-top : 0;
        width : 450px;
        margin-right : -215px;
}
td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}
table
{
  text-align:center;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 10px solid black;
}
table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
/* personnalisation de la vidéo */
video {display:block;width:480px;margin:0 auto 35px auto}
/* les paragraphes */
p{
  text-align: center;
}
footer{
  height: 50px;
}
/* Image de l'emploie */
#imageEmploie img{
  height: 200px;
  width: 550px;
  padding-top: 100px;
}
/* dimension logo "maison" */
#maison img{
  height: 25px;
  width: 25px;
}  
